<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/icons.css">
    <link rel="stylesheet" href="/assets/css/sidebar-menu.css">
    <link rel="stylesheet" href="/assets/css/app-style.css">
    <title>Categorias</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Editar Categoria</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="#" method="post" th:object="${categoria}" th:action="@{/update-categoria/{id} (id=${categoria.id})}">
                        <div class="row d-none">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="txtId">Id</label>
                                    <input type="text" class="form-control form-control-rounded" id="txtId" disabled th:field="*{id}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="txtNombre">Nombre</label>
                                    <input type="text"
                                           class="form-control form-control-rounded"
                                           id="txtNombre"
                                           placeholder="Ingrese un nombre"
                                           maxlength="100"
                                           th:field="*{nombre}">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="txtActivo">Activo</label>
                                        <input type="checkbox"
                                               class="form-control form-control-rounded"
                                               id="txtActivo" th:field="*{estado}"
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="txtDescripcion">Descripcion</label>
                                    <input type="text"
                                           class="form-control form-control-rounded"
                                           id="txtDescripcion" placeholder="Ingrese la descripcion"
                                           maxlength="200"
                                           th:field="*{descripcion}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary shadow-primary btn-round px-5"><i class="fa fa-save"></i> Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/sidebar-menu.js"></script>
<script src="/assets/js/app-script.js"></script>
</body>
</html>