<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/icons.css">
    <link rel="stylesheet" href="/assets/css/sidebar-menu.css">
    <link rel="stylesheet" href="/assets/css/app-style.css">
    <title>Productos</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Editar Producto</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="#" method="post" th:object="${producto}" th:action="@{/update-producto/{id} (id=${producto.id})}">
                        <div class="row d-none">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="txtId">Id</label>
                                    <input type="text" class="form-control form-control-rounded" id="txtId" disabled th:field="*{id}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="txtCodigo">Codigo</label>
                                    <input type="text"
                                           class="form-control form-control-rounded"
                                           id="txtCodigo"
                                           placeholder="Ingrese el codigo"
                                           maxlength="12"
                                           th:field="*{codigo}">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="txtCategoria">Categoria</label>
                                    <input type="text"
                                           class="form-control form-control-rounded"
                                           id="txtCategoria"
                                           placeholder="Ingrese una categoria"
                                           maxlength="100"
                                           th:field="*{categoria}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="txtNombre">Nombre</label>
                                    <input type="text"
                                           class="form-control form-control-rounded"
                                           id="txtNombre"
                                           placeholder="Ingrese un nombre"
                                           maxlength="100"
                                           th:field="*{nombre}">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="txtPrecio">Precio</label>
                                    <input type="number"
                                           step=".01"
                                           class="form-control form-control-rounded"
                                           id="txtPrecio"
                                           placeholder="Ingrese un precio"
                                           maxlength="100"
                                           th:field="*{precio}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="txtStock">Stock</label>
                                    <input type="number"
                                           class="form-control form-control-rounded"
                                           id="txtStock" placeholder="Ingrese el stock"
                                           maxlength="20"
                                           th:field="*{stock}">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="txtActivo">Activo</label>
                                    <input type="checkbox"
                                           class="form-control form-control-rounded"
                                           id="txtActivo" th:field="*{estado}"
                                           >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary shadow-primary btn-round px-5"><i class="fa fa-save"></i> Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/sidebar-menu.js"></script>
<script src="/assets/js/app-script.js"></script>
</body>
</html>