<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html"></head>
<body class="active">
<div id="wrapper" class="in">
    <div th:insert="fragments/sidebar.html"></div>
    <div th:insert="fragments/header.html"></div>
    <div class="content-wrapper">
        <!-- Aqui comienza tu codigo -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3 class="page-title">Listado de Productos</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a th:href="@{/add-producto}" class="btn btn-primary">Agregar producto</a>
                        </div>
                        <div class="card-body" th:switch="productos">
                            <div class="table-responsive" th:case="*">
                                <table class="table table-bordered table-hover table-sm">
                                    <thead class="thead-primary">
                                    <tr>
                                        <th scope="col">codigo</th>
                                        <th scope="col">marca</th>
                                        <th scope="col">nombre</th>
                                        <th scope="col">precio</th>
                                        <th scope="col">stock</th>
                                        <th scope="col">categoria</th>
                                        <th scope="col">empresa</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="producto : ${productos}">
                                        <td th:text="${producto.codigo}"></td>
                                        <td th:text="${producto.marcaNombre}"></td>
                                        <td th:text="${producto.nombre}"></td>
                                        <td th:text="${producto.precio.stripTrailingZeros()}"></td>
                                        <td th:text="${producto.stock}"></td>
                                        <td th:text="${producto.categoriaNombre}"></td>
                                        <td th:text="${producto.empresaNombre}"></td>
                                        <td class="text-right">
                                            <a th:href="@{/producto/{id}(id=${producto.id})}"
                                               class="btn btn-icon btn-primary waves-effect waves-light m-1"> <i
                                                    class="fa fa-pencil"></i> </a>
                                            <a th:href="@{/delete-producto/{id}(id=${producto.id})}"
                                               class="btn btn-icon btn-danger waves-effect waves-light m-1"> <i
                                                    class="fa fa-trash"></i> </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Aqui acaba -->
    </div>
    <a href="javaScript:void(0);" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
</div>
<div th:insert="fragments/scripts.html"></div>
</body>
</html>